* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  min-height: 100vh;
}
button {
  background-color: red;
  color: white;
  height: 40px;
  width: 200px;
  border: none;
  cursor: pointer;
  position: relative;
}
/* button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: blue;
  width: 0%;
  height: 100%;
  transition: all 1s ease;
  opacity: 1;
} */

/* button:hover::before {
  width: 100%;
  right: 0;
  opacity: 0;
} */

button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: green;
  width: 20%;
  height: 100%;
  transition: all 1s ease;
  opacity: 1;
}

button:hover::after {
  width: 100%;
  right: 0;
  opacity: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: green;
  padding: 1rem 3rem;
  color: white;
}
.dropdown-content {
  position: absolute;
  max-width: 300px;
  background-color: azure;
  right: 0;
  top: 100%;
  color: blue;
  display: none;
}
.dropdown:hover .dropdown-content {
  display: block;
}
ul {
  list-style: none;
}
svg {
  width: 30px;
  height: 30px;
  color: red;
}
